:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f1f5f9;
  background-color: #1f2933;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, #20293a 0%, #0f172a 100%);
}

a {
  color: #7aa2ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Inputs */
input {
  width: 100%;
  padding: 0.6rem 0.7rem;
  margin-top: 0.25rem;
  border-radius: 6px;
  border: 1px solid #333;
  background: #20293a;
  color: #eaeaea;
}

input:focus {
  outline: none;
  border-color: #7aa2ff;
}

/* Buttons */
button {
  margin-top: 0.75rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background: #7aa2ff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
/* for date picker and number scroll */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #5f8cff;
}
